// [1200 - 992], [991 - 768], [767 - 576], [575 - 320], [319 - 0]
@media (max-width: 1200px) {
    .main_catalog {
        justify-content: start;
        padding-left: 150px;
    }
}
@media (max-width: 991px) {
    .main_catalog {
        justify-content: start;
        padding-left: 30px;
    }
}
@media (max-width: 767px) {
    .main_tabs {
        width: 530px;
    }
    .main_catalog {
        justify-content: center;
        padding-left: 40px;
        .card {
            height: 300px;
            width: 200px;
            img {
                height: 100px;
                width: 100px;
            }
        }
    }
    .main {
        .delivery {
            justify-content: center;
            align-content: start;
            .card {
                .card_info-order {
                    height: 185px;
                    transform: translateY(75px);
                    .card_title {
                        font-size: 15px;
                    }
                    a {
                        position: absolute;
                        bottom: 0;
                    }
                    .card_price-label {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
}
@media (max-width: 575px) {
    .main_tabs {
        width: 250px;
        button {
            width: 70px;
            height: 50%;
            span {
                font-size: 7px;
            }
        }
    }
    .main_catalogs {
        display: inline-block;
        width: 250px;
        margin: 0 auto;
        .main_catalog {
            padding: 0;
            display: flex;
            justify-content: center;
            // padding-left: 50px;
        }
    }
    .footer {
        margin-top: 25px;
        .footer_link {
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                height: 20px;
                width: 80px;
                font-size: 11px;
                align-items: center;
                margin-left: 5px;
            }
        }
    }
     
}
